.header-burger {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  background-color: #d45e5e;
  display: none;
  z-index: 3;
  transition: background 0.2s ease-out 0.2s;

  & a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.header-burger a span {
  width: 40px;
  height: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    width: 40px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: 12px;
  }
  &::before {
    content: "";
    width: 40px;
    height: 6px;
    background-color: #fff;
    position: absolute;
    top: -12px;
  }
}

._active-burger {
  background-color: #fff;
  border: 1px solid #d45e5e;
}

._active-burger a span {
  background-color: #d45e5e;
}
._active-burger a span:before {
  background-color: #d45e5e;
  top: -6px;
}
._active-burger a span:after {
  background-color: #d45e5e;
  top: 6px;
}

.nav-burger {
  display: none;
  position: fixed;
  top: 110px;
  left: 10px;
  width: 180px;
  height: 240px;
  z-index: 3;
  font-size: 20px;
  // background-color: #fff;
  // border: 1px solid #d45e5e;
  & div a {
    color: #d45e5e;
    &:hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }
}

._active-burger.nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
