.content-aboutme {
}

.wrapper-aboutme {
  // display: flex;
}

.text {
  padding-top: 60px;
  font-family: "PT Sans", sans-serif;
  flex: 50%;
  & h1 {
    text-align: center;
    padding-bottom: 25px;
    font-size: 24px;
  }
  & p {
    border: 1px solid #d45e5e;
    padding: 7px;
    font-size: 18px;
    line-height: 29px;
    text-align: left;
  }
}

.circle {
  background-color: #d45e5e;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: block;
  position: relative;
  transition: all ease-out 0.5s;
  cursor: pointer;
}

.circle0 {
  background-color: #d45e5e;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: block;
  position: relative;
  transition: all ease-out 0.5s;
}

////////////////////////////////////////////////

.adaptivjs {
  margin-top: 40px;
}
.adaptivjs-block {
  display: flex;
  justify-content: space-around;

  &:first-child {
    margin-bottom: 40px;
  }
  & div {
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #fff;
  }
}

.Russia {
  background-color: #0000ff;
}
.Germany {
  background-color: #f4a460;
}

.France {
  background-color: #ff00ff;
}
.Poland {
  background-color: red;
}
