.content-resume {
}

.ajax {
  margin: 30px auto 0;
  & form {
    & span {
      font-size: 18px;
    }
    & input {
      border: 2px solid black;
      font-size: 20px;
    }
  }
  & form:last-child {
    margin-top: 20px;
  }
}
.rub {
}
.usd {
}

.ajax2 {
  margin: 20px auto 0;
  & button {
    width: 40px;
    height: 40px;
    border: 2px solid black;
  }
}
.post {
  border: 3px solid green;
  font-size: 20px;
}

.status {
  font-size: 20px;
}

.border-red {
  border: 3px solid red;
}
