@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";

body {
  color: red;
  font-size: 22px;
  background: url("../img/haron\ left.png") 0 0 no-repeat;
  @media (max-width: 767px) {
    color: green;
  }
}

h1 {
  color: goldenrod;
  display: flex;
  @media (max-width: 767px) {
    display: block;
  }
}
